@font-face {
  font-family: LOGO;
  src: url("../fonts/BowlbyOneSC-Regular.ttf");
}

.college-list-container {
    display: flex;
    flex: 1;
    overflow-y: hidden;
  }
  
  .sidebar {
    width:auto;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #141a1d;
    padding: 20px;
    position: sticky;

    border: 5px;
    border-right-color: #EFEEEE;
    color: #908f8f;
  }
  .sidebar_toggle {
    width:250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #17252A;
    padding: 20px;
    position: sticky;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #EFEEEE;

  }
  :hover.icon{
    color: #f9f9f9;
  }
  .after-click-icon{
    color: #f9f9f9
  }
  .content {
    margin-top: 15px;
    flex: 11;
    padding: 20px;
    overflow-y: scroll;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }

  h5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: LOGO;
  }
  .Presets{
    color: #f9f9f9;
    padding: 10px;
  }
  .Preset{
    color: #f9f9f9;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
   
  :hover.Preset{
    background-color: #141a1d;
  }

  .Toggle{
    color: #f9f9f9;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .ToggleSwitch{
    cursor: pointer;
  }

  .Filter{
    color: #f9f9f9;
    padding: 10px;
    display: flex;
    flex-direction: Column;
    justify-content: space-between;
  }
  :hover.Filter{
    background-color: #141a1d;
  }
