/* Header.css */
@font-face {
    font-family: LOGO;
    src: url("../fonts/BowlbyOneSC-Regular.ttf");
}
.header {
    display: flex;
    /* margin-top: 15px; */
    justify-content: center;
    align-items: center;
    background-color:  #141a1d;
    color: #FEFFFF;
    padding: 10px;
    position: sticky;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    margin-right: 10px;
  }
  .logo-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-family: LOGO;

  }

  